* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  min-width: 600px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float-lt {
  float: left;
}

/* MARGIN*/
.margin-lt-10 {
  margin-left: 10px;
}

.margin-rg-20 {
  margin-right: 20px;
}
/* /MARGIN */

/*  */
/* NAVBAR LATERALE */
.nav_laterale {
  width: 230px;
  height: calc(100vh - 90px);
  background-color: black;
  overflow: hidden;
}

/* NAVBAR LATERALE LOGO */
.nav_laterale .nav_laterale-top .nav-logo,
.nav_laterale .nav_laterale-top .nav-logo-mobile {
  width: 100%;
  padding: 20px;
}
.nav_laterale-top {
  height: calc(100% - 80px);
  min-height: 400px;
  overflow: hidden;
}
.nav_laterale-top .nav-logo-mobile {
  display: none;
}
/* /NAVBAR LATERALE LOGO */

/* NAVBAR LATERALE LISTA HOME */
.list_top ul li {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #515151;
  padding: 5px 20px;
}

.list_top ul li a {
  text-decoration: none;
  cursor: pointer;
}

.list_top ul li a:hover {
  color: #fff;
}

.list_top img {
  height: 26px;
}
/* /NAVBAR LATERALE LISTA HOME */

/* PLAYLIST */
.playlist {
  height: 60%;
  overflow: hidden;
}
/* /PLAYLIST */
/* TITOLO + CREA PLAYLIST */
.titolo_playlist {
  width: 100%;
  padding: 5px 20px;
  color: #fff;
}

.titolo_playlist h5:nth-child(2) {
  margin-top: 10px;
  color: #515151;
}
.titolo_playlist h5:nth-child(2):hover {
  color: #fff;
  cursor: pointer;
}

.titolo_playlist h5:nth-child(2)::before {
  content: "+";
  font-size: 30px;
  font-weight: 500;
  color: black;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: gray;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  margin-right: 16px;
  cursor: pointer;
}

.titolo_playlist h5:nth-child(2):hover::before {
  background-color: #fff;
}
/* /TITOLO + CREA PLAYLIST */

/* NAVBAR LATERALE CREA PLAYLIST */
.crea_playlist {
  padding: 5px 20px;
  height: 50%;
  overflow-y: auto;
}
.crea_playlist ul {
  list-style: none;
}
.crea_playlist ul li {
  color: #515151;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
}
.crea_playlist ul li:hover {
  color: #fff;
}
/* /NAVBAR LATERALE CREA PLAYLIST */

/* NAVBAR LATERALE NAV-BOTTOM */
.nav_laterale-bottom {
  width: 100%;
  height: 80px;
  padding: 5px 20px;
  color: #515151;
  font-size: 12px;
  font-weight: 600;
}

.nav_laterale-bottom .installa_app {
  border-bottom: 1px solid gray;
  padding: 10px 0px;
}

.nav_laterale-bottom .installa_app i:hover {
  color: #fff;
  cursor: pointer;
}

.nav_laterale-bottom .installa_app span:hover {
  color: #fff;
  cursor: pointer;
}

.nav_laterale-bottom i {
  margin-right: 5px;
}

.nav_laterale-bottom .nome_utente {
  margin-top: 10px;
  display: flex;
}

.nav_laterale-bottom .nome_utente .immagine_profilo {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  background-color: #515151;
  overflow: hidden;
  margin-right: 10px;
}

.nav_laterale-bottom .nome_utente .immagine_profilo img {
  width: 100%;
  margin-right: 10px;
}

.nav_laterale-bottom .nome_utente span {
  line-height: 24px;
  color: #fff;
  font-weight: 700;
}
.nav_laterale-bottom .nome_utente img,
span {
  cursor: pointer;
}
/* /NAVBAR LATERALE NAV-BOTTOM */

/* contenitore del main */

.content {
  width: calc(100% - 230px);
  height: calc(100vh - 90px);
  background-color: #141922;
  overflow-y: auto;
}
/* TOP MAIN FIXATO */
.top-main {
  position: fixed;
  width: calc(100% - 230px);
  height: 90px;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
}
.top-main button {
  margin-right: 20px;
  height: 50%;
  background: none;
  border: 1px solid white;
  color: #fff;
  padding: 0 20px;
  border-radius: 50px;
  margin-top: 22px;
  cursor: pointer;
}
button:hover {
  font-size: 16px;
}
/* /TOP MAIN FIXATO */

/* SELEZIONE */
.selezione_tipo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 90px;
}
.content .selezione_tipo ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content .selezione_tipo ul li {
  position: relative;
  padding: 10px;
}
.content .selezione_tipo ul li a {
  text-decoration: none;
  color: #76797e;
}
.linea-verde {
  position: absolute;
  bottom: 6px;
  left: calc(50% - 25px);
  height: 2px;
  width: 50px;
  background-color: #adff2f;
  display: none;
}
.content .selezione_tipo ul li:hover a {
  color: #fff;
}
.content .selezione_tipo ul li:active .linea-verde {
  display: block;
}
/* /SELEZIONE */

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #282828;
}
.footer-left,
.footer-right,
.footer-center {
  display: flex;
}

.footer-left,
.footer-right {
  /*  width: 230px; */
  min-width: 170px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-shrink: 1;
}
/* FOOTER LEFT */
footer .footer-left .titolo-brano {
  display: flex;
  align-items: center;
  color: #fff;
}
.icon img {
  width: 75%;
  object-fit: cover;
}
.min_album {
  width: 61px;
  margin: 0 5px;
}
/* /FOOTER LEFT */
/* FOOTER CENTER */
footer .footer-center {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
}
footer .footer-center .contenitore_musica {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

footer .footer-center .contenitore_musica span {
  font-size: 10px;
  color: #c1c1c1;
}

footer .linea_tempo {
  width: 80%;
  background-color: #5a5a5a;
  border-radius: 20px;
  height: 4px;
  margin: 0 15px;
  cursor: pointer;
}

footer .linea_tempo .tempo_avanti {
  width: 25%;
  border: 2px solid #c1c1c1;
  border-radius: 20px;
  cursor: pointer;
  flex-wrap: nowrap;
}
/* /FOOTER CENTER */

/* FOOTER RIGHT */
footer .footer-right .linea_tempo {
  width: 84px;
  background-color: #5a5a5a;
  border-radius: 20px;
  height: 4px;
  margin: 0 15px;
  cursor: pointer;
}

footer .footer-right .linea_tempo .tempo_avanti {
  width: 25px;
  border: 2px solid #c1c1c1;
  border-radius: 20px;
  cursor: pointer;
  flex-wrap: nowrap;
}
/* FOOTER RIGHT */

/* FOOTER REGOLE ICON */
footer .footer-left .icon,
footer .footer-center .icon,
footer .footer-right .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #878787;
  height: 100%;
}

footer .footer-center .icon,
footer .footer-right .icon {
  margin-right: 10px;
  color: #fff;
}
/* FOOTER REGOLE ICON */
/* /FOOTER */
/* MEDIA  Q */
@media (max-width: 600px) {
  main .nav_laterale .nav_laterale-top .nav-logo-mobile {
    display: block;
    padding: 5px 10px;
    padding-right: 13px;
  }
  main .nav_laterale .nav_laterale-top .nav-logo {
    display: none;
  }
  main .nav_laterale {
    width: 50px;
  }
  main .content,
  main .content .top-main {
    width: calc(100% - 50px);
  }
  main .nav_laterale .list_top a {
    display: none;
  }
  .list_top ul li {
    padding: 5px 10px;
  }

  .crea_playlist,
  .titolo_playlist {
    display: none;
  }
  main .nav_laterale-bottom span {
    display: none;
  }
  main .nav_laterale-bottom {
    padding: 0;
  }
  .nav_laterale-bottom .installa_app {
    margin: 0px 20px;
    border-bottom: none;
  }

  .nav_laterale-bottom .nome_utente .immagine_profilo {
    margin-left: 14px;
  }

  footer .footer-left .icon {
    display: flex;
    flex-direction: column;
  }
}
